.About__container {
  margin: 1.5em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
}

.About__header {
  font-size: 1.5rem;
}

.About__text {
  width: 80%;
  line-height: 1.5;
}

.About__link--api {
  text-decoration: underline;
  color: #343a40;
}

.About__link--github {
  color: #343a40;
}

@media screen and (min-width: 768px) {
  .About__container {
    max-width: 600px;
    margin: 2em auto;
  }

  .About__header {
    margin-top: 1em;
  }

  .About__text {
    margin: 2em 0;
    line-height: 2;
  }
}